.btn {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.btn_title {
    font-size: 1.6rem;
    font-weight: 600;
    padding-inline: 2.4rem;
    padding-block: 1rem;
    border-radius: 0.6rem;
    background-color: var(--text-color);
    cursor: pointer;
}

.btn_title:hover {
    background-color: green;
}