.wrapper {
    width: 50rem;
    padding: 2.4rem;
    border-radius: .8rem;
    background-color: var(--secondary-color);
    border: 2px solid black;
}

.form {
    width: 100%;
}

.field {
    height: 100%;
    color: black;
}

.legend {
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
}

.errorMessage {
    color: #ff0000;
    background-color: #ffcccc;
    border: 1px solid #ff0000;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: .4rem;
    text-align: center;
    font-weight: 600;
}
