.container {
  display: flex;
  height: 100vh;
  align-items: center;
  margin-inline: 3.2rem;
}

.title {
  background-color: red;
  text-align: center;
  width: 100%;
  font-size: 4.2rem;
  border-radius: 1.2rem;
  padding-block: 1.6rem;
  color: white;
}

