:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-color: #292929; 
    --text-color: #a3a3a3;
    --secondary-color: #525252;
}

body {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}